In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler

%matplotlib inline

In [4]:
df = pd.read_csv('./datasets/train_clean.csv')

In [5]:
df.isnull().sum().sum()

0

In [6]:
df[['SalePrice', 'PID']].sort_values(by='SalePrice').head(50);
df.drop(columns=['Unnamed: 0'], inplace=True)

In [19]:
X = df._get_numeric_data().drop(columns=['SalePrice'])
X.columns

Index(['Id', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'BsmtFin SF 1',
       'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 'Garage Yr Blt',
       'Garage Cars', 'Garage Area', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val',
       'Mo Sold', 'Yr Sold'],
      dtype='object')

In [8]:
y = df['SalePrice']

In [9]:
type(X)

pandas.core.frame.DataFrame

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
ss = StandardScaler()
X_train_sc = ss.fit_transform(X_train)
X_test_sc = ss.transform(X_test)

In [12]:
lr = LinearRegression()

In [13]:
cross_val_score(lr, X_train_sc, y_train, cv=5).mean()

0.7679002183558884

In [14]:
lr.fit(X_train_sc, y_train)
lr.score(X_train_sc, y_train)

0.8268174212457667

In [15]:
lr.score(X_test_sc, y_test)

0.8641273574532401

In [16]:
#my model has low variance, high bias

In [17]:
clean_test = pd.read_csv('./datasets/test_clean.csv')

In [26]:
X_test1 = clean_test._get_numeric_data().drop(columns=['Unnamed: 0'])
X_test1.columns

Index(['Id', 'PID', 'MS SubClass', 'Lot Frontage', 'Lot Area', 'Overall Qual',
       'Overall Cond', 'Year Built', 'Year Remod/Add', 'BsmtFin SF 1',
       'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF',
       '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath',
       'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr',
       'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 'Garage Yr Blt',
       'Garage Cars', 'Garage Area', 'Wood Deck SF', 'Open Porch SF',
       'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val',
       'Mo Sold', 'Yr Sold'],
      dtype='object')

In [27]:
for col in X.columns: 
    if col not in X_test1.columns:
        print(col)

In [28]:
X_test1_final = ss.transform(X_test)

In [30]:
predictions = lr.predict(X_test1_final)

In [31]:
first_subm = pd.DataFrame({'Id': X_test1['Id'], 
                                   'SalePrice': predictions})

In [32]:
first_subm

       Id      SalePrice
0    2658  123692.646523
1    2718  147427.119723
2    2414  224218.661090
3    1989  116153.648577
4     625  198478.833370
..    ...            ...
874  1662  211007.043492
875  1234  215037.456687
876  1373  117933.166391
877  1672  105494.195397
878  1939  124019.581694

[879 rows x 2 columns]

In [33]:
first_subm.to_csv(path_or_buf='datasets/first_subm.csv', index=False)
#index=False Unnamed doesn't show!!