In [57]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv('datasets/test.csv')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.shape

(879, 80)

In [59]:
null_df = pd.concat([df.isnull().sum(), df.dtypes], axis=1).rename(columns={0:'null_sum', 1:'dtype'})
null_df.loc[null_df['null_sum']!=0]

                null_sum    dtype
lot_frontage         160  float64
alley                821   object
mas_vnr_type           1   object
mas_vnr_area           1  float64
bsmt_qual             25   object
bsmt_cond             25   object
bsmt_exposure         25   object
bsmtfin_type_1        25   object
bsmtfin_type_2        25   object
electrical             1   object
fireplace_qu         422   object
garage_type           44   object
garage_yr_blt         45  float64
garage_finish         45   object
garage_qual           45   object
garage_cond           45   object
pool_qc              875   object
fence                707   object
misc_feature         838   object

.

In [60]:
def num_replace(col_name):
    col = col_name
    first = df[col_name].isnull().sum()
    
    col_mean = df[col_name].mean()
    col_std = df[col_name].std()
    col_null_count = df[col_name].isnull().sum()
    col_null_random_list = np.random.randint(col_mean - col_std, col_mean + col_std, size=col_null_count)

    df[col_name][np.isnan(df[col_name])] = col_null_random_list
    df[col_name] = df[col_name].astype(int)

    final = df[col_name].isnull().sum()
    
    return print(f'"{col}" null count\nbefore: {first}, after: {final}')

.

In [61]:
#EDA
df.loc[df['garage_yr_blt']>=2009.0]['garage_yr_blt'];

.

In [62]:
num_replace('lot_frontage')

"lot_frontage" null count
before: 160, after: 0

/Users/alicjaligas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [63]:
df['alley'] = df['alley'].fillna(value='None')
df['mas_vnr_type'] = df['mas_vnr_type'].fillna(value='None')
df['mas_vnr_area'] = df['mas_vnr_area'].fillna(value=0)
df['bsmt_qual'] = df['bsmt_qual'].fillna(value='None')
df['bsmt_cond'] = df['bsmt_cond'].fillna(value='None')
df['bsmt_exposure'] = df['bsmt_exposure'].fillna(value='None')
df['bsmtfin_type_1'] = df['bsmtfin_type_1'].fillna(value='None')
df['bsmtfin_type_2'] = df['bsmtfin_type_2'].fillna(value='None')
df.electrical.fillna(df.electrical.mode()[0], inplace=True)
df['fireplace_qu'] = df['fireplace_qu'].fillna(value='None')
df['garage_type'] = df['garage_type'].fillna(value='None')
df.garage_yr_blt.fillna(df.garage_yr_blt.mode()[0], inplace=True)
df['garage_finish'] = df['garage_finish'].fillna(value='None')
df['garage_qual'] = df['garage_qual'].fillna(value='None')
df['garage_cond'] = df['garage_cond'].fillna(value='None')
df['pool_qc'] = df['pool_qc'].fillna(value='None')
df['fence'] = df['fence'].fillna(value='None')
df['misc_feature'] = df['misc_feature'].fillna(value='None')

In [65]:
null_df = pd.concat([df.isnull().sum(), df.dtypes], axis=1).rename(columns={0:'null_sum', 1:'dtype'})
null_df.loc[null_df['null_sum']!=0]

Empty DataFrame
Columns: [null_sum, dtype]
Index: []

In [66]:
test_clean2 = df.to_csv('./datasets/test_clean2.csv')