In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score

%matplotlib inline

In [3]:
pd.set_option('display.max_rows', 85)

In [4]:
pd.reset_option('display.max_rows')

In [5]:
df = pd.read_csv('datasets/train.csv')

In [6]:
df.shape

(2051, 81)

In [7]:
df['PID'].unique().shape
#sac['zip_prefix'] = sac_csv['zip'].map(lambda zip: str(zip)[:3])
df['PID'].map(lambda pid: str(pid)[:3]).unique() ####use this!!!! jklsjfklsjdklf YES YES YES

array(['533', '531', '535', '916', '906', '908', '527', '907', '923',
       '902', '905', '528', '532', '909', '911', '534', '914', '903',
       '910', '526', '924', '913', '904', '921', '912'], dtype=object)

In [8]:
df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [9]:
df.columns.shape

(81,)

In [10]:
list(df.columns);

In [11]:
df.dtypes[0:30]

Id                  int64
PID                 int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
Lot Area            int64
Street             object
Alley              object
Lot Shape          object
Land Contour       object
Utilities          object
Lot Config         object
Land Slope         object
Neighborhood       object
Condition 1        object
Condition 2        object
Bldg Type          object
House Style        object
Overall Qual        int64
Overall Cond        int64
Year Built          int64
Year Remod/Add      int64
Roof Style         object
Roof Matl          object
Exterior 1st       object
Exterior 2nd       object
Mas Vnr Type       object
Mas Vnr Area      float64
Exter Qual         object
Exter Cond         object
dtype: object

In [12]:
df.isnull().sum()[0:30]

Id                   0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       330
Lot Area             0
Street               0
Alley             1911
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        22
Mas Vnr Area        22
Exter Qual           0
Exter Cond           0
dtype: int64

In [13]:
pd.Series(df['Year Built'].unique()).sort_values()[:57];

In [14]:
df['Lot Frontage'] = df['Lot Frontage'].replace(np.nan, 0); #might want to replace with mean or mode instead of 0

In [15]:
df['Alley'] = df['Alley'].fillna(value='None')

In [16]:
df['Mas Vnr Type'] = df['Mas Vnr Type'].fillna(value='None')

In [17]:
df['Mas Vnr Area'] = df['Mas Vnr Area'].fillna(value='None')

In [18]:
df.dtypes[30:60]

Foundation          object
Bsmt Qual           object
Bsmt Cond           object
Bsmt Exposure       object
BsmtFin Type 1      object
BsmtFin SF 1       float64
BsmtFin Type 2      object
BsmtFin SF 2       float64
Bsmt Unf SF        float64
Total Bsmt SF      float64
Heating             object
Heating QC          object
Central Air         object
Electrical          object
1st Flr SF           int64
2nd Flr SF           int64
Low Qual Fin SF      int64
Gr Liv Area          int64
Bsmt Full Bath     float64
Bsmt Half Bath     float64
Full Bath            int64
Half Bath            int64
Bedroom AbvGr        int64
Kitchen AbvGr        int64
Kitchen Qual        object
TotRms AbvGrd        int64
Functional          object
Fireplaces           int64
Fireplace Qu        object
Garage Type         object
dtype: object

In [19]:
df.isnull().sum()[30:60]

Foundation            0
Bsmt Qual            55
Bsmt Cond            55
Bsmt Exposure        58
BsmtFin Type 1       55
BsmtFin SF 1          1
BsmtFin Type 2       56
BsmtFin SF 2          1
Bsmt Unf SF           1
Total Bsmt SF         1
Heating               0
Heating QC            0
Central Air           0
Electrical            0
1st Flr SF            0
2nd Flr SF            0
Low Qual Fin SF       0
Gr Liv Area           0
Bsmt Full Bath        2
Bsmt Half Bath        2
Full Bath             0
Half Bath             0
Bedroom AbvGr         0
Kitchen AbvGr         0
Kitchen Qual          0
TotRms AbvGrd         0
Functional            0
Fireplaces            0
Fireplace Qu       1000
Garage Type         113
dtype: int64

In [20]:
df['Bsmt Qual'] = df['Bsmt Qual'].fillna(value='None')

In [21]:
df['Bsmt Cond'] = df['Bsmt Cond'].fillna(value='None')

In [22]:
df['Bsmt Exposure'] = df['Bsmt Exposure'].fillna(value='None')

In [23]:
df['BsmtFin Type 1'] = df['BsmtFin Type 1'].fillna(value='None')

In [24]:
df['BsmtFin SF 1'] = df['BsmtFin SF 1'].fillna(value=0)

In [25]:
df['BsmtFin Type 2'] = df['BsmtFin Type 2'].fillna(value='None')

In [26]:
df['BsmtFin SF 2'] = df['BsmtFin SF 2'].fillna(value=0)

In [27]:
df['Bsmt Unf SF'] = df['Bsmt Unf SF'].fillna(value=0)

In [28]:
df['Total Bsmt SF'] = df['Total Bsmt SF'].fillna(value=0)

In [29]:
df['Bsmt Full Bath'] = df['Bsmt Full Bath'].fillna(value=0)

In [30]:
df['Bsmt Half Bath'] = df['Bsmt Half Bath'].fillna(value=0)

In [31]:
df['Fireplace Qu'] = df['Fireplace Qu'].fillna(value='None')

In [32]:
df['Garage Type'] = df['Garage Type'].fillna(value='None')

In [33]:
df.dtypes[60:]

Garage Yr Blt     float64
Garage Finish      object
Garage Cars       float64
Garage Area       float64
Garage Qual        object
Garage Cond        object
Paved Drive        object
Wood Deck SF        int64
Open Porch SF       int64
Enclosed Porch      int64
3Ssn Porch          int64
Screen Porch        int64
Pool Area           int64
Pool QC            object
Fence              object
Misc Feature       object
Misc Val            int64
Mo Sold             int64
Yr Sold             int64
Sale Type          object
SalePrice           int64
dtype: object

In [34]:
df.isnull().sum()[60:]

Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2042
Fence             1651
Misc Feature      1986
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
SalePrice            0
dtype: int64

In [35]:
df['SalePrice']; #sales price given for train and not for test

In [36]:
df['Garage Yr Blt'] = df['Garage Yr Blt'].fillna(value=0)
df['Garage Finish'] = df['Garage Finish'].fillna(value='None')
df['Garage Cars'] = df['Garage Cars'].fillna(value=0)
df['Garage Area'] = df['Garage Area'].fillna(value=0)
df['Garage Qual'] = df['Garage Qual'].fillna(value='None')
df['Garage Cond'] = df['Garage Cond'].fillna(value='None')
df['Pool QC'] = df['Pool QC'].fillna(value='None')
df['Fence'] = df['Fence'].fillna(value='None')
df['Misc Feature'] = df['Misc Feature'].fillna(value='None')

In [37]:
train_clean = df.to_csv('./datasets/train_clean.csv')