In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../datasets/train.csv')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.shape

(2051, 81)

In [5]:
null_df = pd.concat([df.isnull().sum(), df.dtypes], axis=1).rename(columns={0:'null_sum', 1:'dtype'})
null_df.loc[null_df['null_sum']!=0]

                null_sum    dtype
lot_frontage         330  float64
alley               1911   object
mas_vnr_type          22   object
mas_vnr_area          22  float64
bsmt_qual             55   object
bsmt_cond             55   object
bsmt_exposure         58   object
bsmtfin_type_1        55   object
bsmtfin_sf_1           1  float64
bsmtfin_type_2        56   object
bsmtfin_sf_2           1  float64
bsmt_unf_sf            1  float64
total_bsmt_sf          1  float64
bsmt_full_bath         2  float64
bsmt_half_bath         2  float64
fireplace_qu        1000   object
garage_type          113   object
garage_yr_blt        114  float64
garage_finish        114   object
garage_cars            1  float64
garage_area            1  float64
garage_qual          114   object
garage_cond          114   object
pool_qc             2042   object
fence               1651   object
misc_feature        1986   object

.

.

.EDA

In [6]:
col_df = pd.DataFrame(df['lot_frontage'].value_counts())
col_df.reset_index(inplace=True)
col_df.rename(columns={'index':'count'}, inplace=True)

In [7]:
len(list(df['lot_frontage']))

2051

In [8]:
col_df['lot_frontage'].sum()

1721

In [9]:
df['lot_frontage'].isnull().sum()

330

In [10]:
1721+330 #value_counts doesn't include nans

2051

In [11]:
df['lot_frontage'].mean()

69.05520046484602

In [12]:
df.loc[df['mas_vnr_area']==0]['mas_vnr_area'];

.END

.

In [13]:
#sourced from https://towardsdatascience.com/handling-missing-values-in-machine-learning-part-1-dda69d4f88ca

def num_replace(col_name):
    col = col_name
    first = df[col_name].isnull().sum()
    
    col_mean = df[col_name].mean()
    col_std = df[col_name].std()
    col_null_count = df[col_name].isnull().sum()
    col_null_random_list = np.random.randint(col_mean - col_std, col_mean + col_std, size=col_null_count)

    df[col_name][np.isnan(df[col_name])] = col_null_random_list
    df[col_name] = df[col_name].astype(int)

    final = df[col_name].isnull().sum()
    
    return print(f'"{col}" null count\nbefore: {first}, after: {final}')

.

In [14]:
df['lot_frontage'].mean()

69.05520046484602

In [15]:
num_replace('lot_frontage')

"lot_frontage" null count
before: 330, after: 0

/Users/alicjaligas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [16]:
df['lot_frontage'].mean()

68.70941004388104

.

.

In [17]:
df['alley'].value_counts()

Grvl    85
Pave    55
Name: alley, dtype: int64

In [18]:
df['alley'].isnull().sum()

1911

In [19]:
df['alley'] = df['alley'].fillna(value='None')

.

.

In [20]:
df['mas_vnr_type'].value_counts()

None       1218
BrkFace     630
Stone       168
BrkCmn       13
Name: mas_vnr_type, dtype: int64

In [21]:
df['mas_vnr_type'] = df['mas_vnr_type'].fillna(value='None')

.

.

In [22]:
df['mas_vnr_area'] = df['mas_vnr_area'].fillna(value=0)

.

.

In [23]:
#EDA
df.loc[pd.isna(df['bsmt_exposure']), ['bsmt_qual', 
                                  'bsmt_cond',
                                  'bsmt_exposure',
                                  'bsmtfin_type_1',
                                  'bsmtfin_sf_1',
                                  'bsmtfin_type_2',
                                  'bsmtfin_sf_2',
                                  'bsmt_unf_sf',
                                  'total_bsmt_sf'
                                 ]];

.

In [24]:
df['bsmt_qual'].value_counts()

TA    887
Gd    864
Ex    184
Fa     60
Po      1
Name: bsmt_qual, dtype: int64

In [25]:
df['bsmt_qual'].isnull().sum()

55

In [26]:
df['bsmt_qual'] = df['bsmt_qual'].fillna(value='None')

.

.

In [27]:
df['bsmt_cond'] = df['bsmt_cond'].fillna(value='None')

.

.

In [28]:
df['bsmt_exposure'] = df['bsmt_exposure'].fillna(value='None')

.

.

In [29]:
df['bsmtfin_type_1'] = df['bsmtfin_type_1'].fillna(value='None')

.

.

In [30]:
df['bsmtfin_sf_1'] = df['bsmtfin_sf_1'].fillna(value=0)

.

.

In [31]:
df['bsmtfin_type_2'] = df['bsmtfin_type_2'].fillna(value='None')

.

.

In [32]:
df['bsmtfin_sf_2'] = df['bsmtfin_sf_2'].fillna(value=0)

.

In [33]:
df['bsmt_unf_sf'] = df['bsmt_unf_sf'].fillna(value=0)

.

In [34]:
df['total_bsmt_sf'] = df['total_bsmt_sf'].fillna(value=0)

.

In [35]:
df['bsmt_full_bath'] = df['bsmt_full_bath'].fillna(value=0)

.

In [36]:
df['bsmt_half_bath'] = df['bsmt_half_bath'].fillna(value=0)

.

In [37]:
df['fireplace_qu'] = df['fireplace_qu'].fillna(value='None')

.

In [38]:
#EDA
df.loc[pd.isna(df['garage_yr_blt']), ['garage_type', 
                                  'garage_yr_blt',
                                  'garage_finish',
                                  'garage_cars',
                                  'garage_area',
                                  'garage_qual',
                                  'garage_cond',
                                 ]];

In [39]:
df['garage_type'] = df['garage_type'].fillna(value='None')

.

In [40]:
# mode replacement

In [41]:
df.garage_yr_blt.fillna(df.garage_yr_blt.mode()[0], inplace=True)

.

In [42]:
df.loc[df['garage_yr_blt']==2207.0]['garage_yr_blt']

1699    2207.0
Name: garage_yr_blt, dtype: float64

In [43]:
df.loc[df['garage_yr_blt']==2207.0, 'garage_yr_blt'] = 2007 #fixed outlier

.

In [44]:
#garage_finish	114	object

In [45]:
df['garage_finish'] = df['garage_finish'].fillna(value='None')

.

In [46]:
df['garage_cars'] = df['garage_cars'].fillna(value=0)

.

In [47]:
df['garage_area'] = df['garage_area'].fillna(value=0)

.

In [48]:
df['garage_qual'] = df['garage_qual'].fillna(value='None')

.

In [49]:
df['garage_cond'] = df['garage_cond'].fillna(value='None')

.

In [50]:
df['pool_qc'] = df['pool_qc'].fillna(value='None')

.

In [51]:
df['fence'] = df['fence'].fillna(value='None')

.

In [52]:
df['misc_feature'] = df['misc_feature'].fillna(value='None')

.

In [53]:
null_df = pd.concat([df.isnull().sum(), df.dtypes], axis=1).rename(columns={0:'null_sum', 1:'dtype'})
null_df.loc[null_df['null_sum']!=0]

Empty DataFrame
Columns: [null_sum, dtype]
Index: []

In [55]:
train_clean2 = df.to_csv('../datasets/train_clean2.csv')